

#cover .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    row-gap: 30px;
    padding-left: 100px;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide:nth-child(1) {
    background-image: url('https://static.tildacdn.com/tild6666-6435-4831-b766-343066646136/_33.jpg');
}

.swiper-slide:nth-child(2) {
    background-image: url('https://static.tildacdn.com/tild3861-6663-4838-b965-373737326631/___2.jpg');
}

.swiper-slide:nth-child(3) {
    background-image: url('https://static.tildacdn.com/tild3035-3330-4533-b165-393032626264/__.jpg');
}

.swiper-slide:nth-child(4) {
    background-image: url('https://static.tildacdn.com/tild6332-3935-4865-b237-366138303231/lash_lam_4.jpg');
}

